{% extends "base.html.twig" %}
{% block title %}Empresas{% endblock %}
{% block body %}
<table class="table table-striped w-50 mx-auto">
    <thead class="thead-dark">
        <tr>
            <th class="w-50">Empresa</th>
            <th class="w-50">Opciones</th>
        </tr>
    </thead>
    <tbody>
        {% for empresa in empresas %}
            <tr>
                <td>{{ empresa.nombre_empresa }}, del sector: {{ sector[empresa.sector_empresa -1 ].nombre_sector | lower }} </td>
                <td> 
                    <button class="btn btn-success mr-2" href="./modificar">Modificar</a>
                    <button class="btn btn-danger" href="./eliminar">Eliminar</a>
                </td>
            </tr>
        {% endfor %}

    </tbody>
</table>
{% endblock %}

