<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container">
        <div class="navbar-brand">Prueba symfony</div>
        <div class="navbar-nav">    
            <ul class="navbar-nav ml-auto">
                <a class="nav-item nav-link" href="./">Inicio</a>
                <a class="nav-item nav-link" href="#">Empresas</a>
                <a class="nav-item nav-link" href="#">Sectores</a>
            </ul> 
        </div>
    </div>
</nav>